bertNER_legal_pretrained/legal_electra_base/
bertNER_legal_pretrained/legal_electra_small/
bertNER_legal_pretrained/legal_electra_base.zip
bertNER_legal_pretrained/ckpt
bertNER_legal_pretrained/.DS_Store
.DS_Store

bertNER_legal_pretrained/legal_electra_large/

